@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-custom-gray: #1a1a1a;
    --color-vvm-pink: #ac00e6;
    --color-vvm-teal: #03fcca;
    --color-vvm-blue: #0384ca;
    --color-vvm-lightblue: #38bdf8;
}

html,
body {
  @apply bg-[#090909] text-white;
}

.jost {
  font-family: "Jost", sans-serif;
  font-style: normal;
}

.link {
    @apply relative w-fit block after:block after:content-[''] after:absolute after:h-0.5 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-left;
}

.mobile-link {
    @apply text-right py-4 pr-6 my-3 border-b;
}
